head

  meta(charset='utf-8')

  meta(http-equiv='X-UA-Compatible', content='IE=edge')

  title #{cliente}

  meta(name='author', content='')
  meta(name='copyright', content='#{cliente} 2014 - Todos os direitos reservados')
  meta(name='description', content='Código desenvolvido para #{cliente}')

  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-title', content='#{cliente}')

  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(href='stylesheets/stylesheets.css', rel='stylesheet')

  link(href='images/icn-32x32.png', rel='shortcut icon')
  link(href='images/icn-152x152.png', rel='apple-touch-icon')

  <!--[if lt IE 9]>
  script(src='scripts/respond.js')
  <![endif]-->
