doctype html

html(lang='pt_BR')

	include partials/head

	body

	div.container#content

		div(class='page-not-found')

			h2 Page Not Found

			p Sorry, but the page you were trying to view does not exist.

	include partials/footer
