doctype html

html(lang='pt-BR')

	- var cliente = cliente || "Nome do Cliente"

	include partials/head

	body

		div#content
			include partials/header
			| ugkyufkj
		include partials/footer
		script(src='scripts/libraries.js', async)